body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.front-page {
    text-align: center;
    padding-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url(images/donation.jpg);
}

.Header {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: large;
}

button {
    color: blue;
    font-size: larger;
    background-color: chartreuse;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 1000px;
}

.donation-amount {
    text-align: center;
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: lavender;
}

h1 {
    font-size: 45px;
}

.text-color {
    color: gray;
}

.tk {
    font-size: x-large;
    color: gray;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: auto 2px;
    word-spacing: 20px;
}

.bottom-text {
    text-align: center;
    color: gray;
    border-bottom: 2px solid wheat;
}

.derorate-text {
    color: red;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: auto 2px;
    background-color: pink;
}

.space {
    margin-bottom: 50px;
}

.plan {
    text-align: center;
    margin-top: none;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.topics {
    text-align: left;
    width: 80%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 40px gray;
}

.foods {
    background-color: plum;
    color: darkslategray;
}

.cloths {
    background-color: darksalmon;
    color: darkslategray;
}

.shelter {
    background-color: darkkhaki;
    color: darkslategray;
}

.font-shape {
    font-size: 50px;
    display: flex;
}

.font {
    font-size: 15px;
    padding-right: 4px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

.container {
    display: flex;
    margin-bottom: 100px;
}

.writting-style {
    text-align: center;
    color: darkslategray;
}

.last {
    background-color: black;
}

.style {
    text-align: center;
    color: darkorchid;
    font-family: italic;
}